/*  your css code here. If applicable */
body{
	background:skyblue;
}

.h1{
	border:0 solid black;
	color:white;
	background:black;
}

.p1{
	color:black;
}

.p3{
	color:red;
}

.l1{
	border:0 solid white;
	background:white;
	width:300px;
}

.l2{
	border:0 solid gray;
	background:gray;
	width:300px;
}

.l3{
	border:0 solid pink;
	background:pink;
	width:300px;
}

.l4{
	border:0 solid white;
	background:white;
	width:300px;
}

.l5{
	border:0 solid white;
	background:gray;
	width:300px;
}